 .u-section-1 {
  background-image: linear-gradient(white, #adcce9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1108px;
}

.u-section-1 .u-list-1 {
  width: 593px;
  margin: -4px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1056px;
  grid-auto-columns: 100%;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 108px;
  height: 108px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -108px auto 0 147px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 23px 0 0 147px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 108px;
  height: 108px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 27px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -108px auto 0 147px;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-weight: 700;
  margin: 23px 0 0 147px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 108px;
  height: 108px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 27px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -108px auto 0 147px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 23px 0 0 147px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 4.5rem;
  font-style: normal;
  text-transform: none;
  margin: -1014px 639px 0 105px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -72px auto 0 41px;
}

.u-section-1 .u-text-8 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  font-weight: 700;
  margin: 94px 649px 0 41px;
}

.u-section-1 .u-image-1 {
  width: 314px;
  height: 314px;
  margin: 32px auto 60px 95px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-7 {
    margin-top: -999px;
    margin-right: 539px;
    margin-left: 119px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -115px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 138px;
    margin-right: 490px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-7 {
    margin-right: 324px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 26px;
  }
}